<p><%= t('messages.hello')%>, <%= @resource.profile_member.full_name %>!</p>

<p><%= t('messages.requested_link_to_change_password') %>.</p>

<p><%= link_to t('messages.alter_my_password') , edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('messages.if_you_not_order_this_ignore_this_email') %>.</p>
<p><%= t('messages.your_password_will_not_be_changed_if') %>.</p>
