<p><%= t('messages.hello') %> <%= @resource.email %>!</p>

<p><%= t('messages.link_to_change_your_password') %>. </p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('messages.you_request_this') %>. </p>
<p><%= t('messages.your_not_password_change') %>. </p>
